body {
    font-family: "Source Sans 3", sans-serif;
    background-color: whitesmoke;
    margin: 10;
    padding: 0;
}


.container {
    background-color: white;
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 10px rgba(226, 226, 226, 0.61) solid;
}

section .container:last-child{
    border-bottom: none;
}

/* HEADER PART */
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: grey solid 1px;
    padding: 6px 15px 6px 15px;
}

.oldgram-img {
    width: 120px;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

/* USERNAME PART */
.section-username{
    display: flex;
    align-items: center;
    padding: 10px 0px;

}

.user-info-txt{
    padding-left: 8px;
}

.user-info-txt h2, .user-info-txt h3 {
    margin: 0;
    padding: 0;
}

/* name */
.user-info-txt h2{
    font-size: 13px;
}

/* location */
.user-info-txt h3{
    font-size: 12px;
    font-weight: 400;
}
.bold-txt{
    font-weight: 700;
}

.padding-left{
    padding-left: 10px;
}






.main-pic {
    width: 100%;
}

.section-btn{
    display: flex;
    gap: 13px;
    margin: 10px 0;
}
.icon {
    width: 23px;
}

.icon:hover{
    filter: drop-shadow(0px 0px 4px rgba(114, 114, 114, 0.61));
}

.comments {
    font-size: 13px;
    padding-bottom: 8px;
}

.comments p {
    margin: 3px 0px;
}